<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 margin-to-45">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
          <li class="list-group-item"><a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="stati">Symptoms</a></li>
          <li class="list-group-item"><a  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="statistic">Statistic</a></li>
          <li class="list-group-item"><a  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="contact">Contact Us
          </a></li>

          </ul>
      </div>
      <div class="col-lg-4 margin-to-30">
        <a href="https://www.facebook.com/profile.php?id=100010170818507" class="fa fa-facebook"></a>
        <a href="https://twitter.com/SoukainaAbouzi1?s=08" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/in/hanae-labiad-0baba51a1/" class="fa fa-linkedin"></a>
      </div>
      <div class="col-lg-4 margin-to-45">
        <p class="text-center" >&copy; Copyright 2020: Hanae LABIAD & Soukaina Abouzine</p>

      </div>

    </div>
  </div>
</div>
