<nav class="navbar ">
  <div class="container-fluid">
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">WebSiteName</a>-->
<!--    </div>-->
    <ul class="nav navbar-nav ml-60">
      <li class="menu-item active"><a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
      <li class="menu-item"><a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="sympthoms">Symptoms</a></li>
      <li class="menu-item"><a  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="statistic">Statistic</a></li>
      <li class="menu-item"><a  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="contact">Contact Us</a></li>
      <li  class=" admin"><a  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="login">Admin</a></li>
    </ul>
  </div>
</nav>
