<div class="container"   >
  <p  class="lead" style="text-align: left; margin-right: 30px; margin-top: 10px;" > Signs and symptoms of coronavirus disease 2019 (COVID-19) may
    appear two to 14 days after exposure.<br> This time after exposure and before having symptoms
    is called the incubation period. Common signs and symptoms can include:</p>
  <p></p>
<div class="row">
  <div class="col-md-4">
  <mat-card class="example-card">
    <mat-card-header  class="card-container">
      <mat-card-title  class="card-container-right" class="fill-remaining-space"
      > <span class="s-fever">Fever</span> </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/image/covid-fever.png" alt="fiver">
    <mat-card-content>
      <p>
        A person has a fever if their body temperature
        rises above the normal range of 98–100°F (36–37°C).
        It is a common sign of an infection.
      </p>
    </mat-card-content>

  </mat-card></div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title><span class="s-cough">Cough</span></mat-card-title>

      </mat-card-header>
      <img mat-card-image src="assets/image/covid-cough.png" alt="cough">
      <mat-card-content>
        <p>
          If a person notices they are coughing a lot for over an hour,
          or they have three or more coughing episodes in a day, they may have coronavirus.
        </p>
      </mat-card-content>

    </mat-card></div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title><span class="s-breath">Shortness of Breath</span></mat-card-title>

      </mat-card-header>
      <img mat-card-image src="assets/image/covid-breath.png" alt="breath">
      <mat-card-content>
        <p>
          Shortness of breath can make it hard to breathe deeply.
          <br>You may feel winded, or as if you can’t get enough air into your lungs.<br>
        </p>
      </mat-card-content>

    </mat-card></div>


</div>
</div>
