<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h1 class="titre ">Stop</h1>
        <h3 class="titre-h3 mrgin-bottom-60 line-height-15">coronavirus</h3>
      <div style="width: 500px">
        <p class="ligne-height-10 color-blue ">
          This line of text is meant to be treated as an addition to the document.
        </p>
        <p class="ligne-height-10 color-blue">
          This line of text is meant to be treated as an addition to the document.
        </p>
        <p class="ligne-height-10 color-blue">
          This line of text is meant to be treated as an addition to the document
        </p>
        <p class="ligne-height-10 color-blue" id="dots">...</p>
        <p class="ligne-height-10 color-blue" id="more">erisque enim ligula venenatis dolor. Maecenas nisl est,
          ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue
          ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
          In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget
          tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.
        </p>
        <button class="btn btn-sm btn-warning radios-8" (click)="myFunction()" id="myBtn">Read more</button>
      </div>

    </div>
    <div class="col-md-6">
     <img width="60%" height="60%" src="assets/image/covid.png">
    </div>
  </div>
</div>
