<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3 class="titre-h3 mrgin-bottom-60 line-height-15">Covid-19</h3>
      <div style="width: 500px">
        <p class="ligne-height-10 color-blue ">
          Les coronavirus (CoV) forment une grande famille de virus qui provoquent 
          des manifestations allant du simple rhume à des maladies plus graves tels que le syndrome respiratoire 
          du Moyen-Orient (MERS) et le syndrome respiratoire aigu sévère (SRAS).
      
        </p>
        
        <p class="ligne-height-10 color-blue" id="dots">...</p>
        <p class="ligne-height-10 color-blue" id="more">  Un nouveau coronavirus (nCoV) est une nouvelle souche de 
          coronavirus qui n’a pas encore été identifiée chez l’homme. Les coronavirus sont zoonotiques, c’est-à-dire qu’ils se
           transmettent de l’animal à l’homme. Des enquêtes détaillées ont révélé que le SARS-CoV se
            transmettait de la civette à l’homme et le MERS-CoV du dromadaire à l’homme. Plusieurs
             coronavirus connus qui n’ont pas 
          encore infecté l’homme circulent chez certains animaux.
        </p>
        <button class="btn btn-sm btn-warning radios-8" (click)="myFunction()" id="myBtn">Read more</button>
      </div>

    </div>
    <div class="col-md-6">
     <img width="100%" height="100%" src="assets/image/corona.jpg">
    </div>
  </div>
</div>
