<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3 class="titre-h3 mrgin-bottom-60 line-height-15">Covid-19</h3>
      <div style="width: 500px">
        <p class="ligne-height-10 color-blue " >
          COVID-19 is a disease caused by a new strain of coronavirus. ‘CO’ stands for corona, ‘VI’ for virus, and
          ‘D’ for disease. Formerly, this disease was referred to as ‘2019 novel coronavirus’ or ‘2019-nCoV.’
          The COVID-19 virus is a new virus linked to the same family of viruses as Severe Acute Respiratory
          Syndrome (SARS) and some types of common cold.

        </p>

        <p class="ligne-height-10 color-blue" id="dots">...</p>
        <p class="ligne-height-10 color-blue" id="more">  The outbreak of coronavirus disease (COVID-19) has been declared a Public Health Emergency of
          International Concern (PHEIC) and the virus has now spread to many countries and territories. While a lot
          is still unknown about the virus that causes COVID-19, we do know that it is transmitted through direct
          contact with respiratory droplets of an infected person (generated through coughing and sneezing)
          Individuals can also be infected from touching surfaces contaminated with the virus and touching their
          face (e.g., eyes, nose, mouth). While COVID-19 continues to spread it is important that communities take
          action to prevent further transmission, reduce the impacts of the outbreak and support control measures.
        </p>
        <button class="btn btn-sm btn-warning radios-8" (click)="myFunction()" id="myBtn">Read more</button>
      </div>

    </div>
    <div class="col-md-6">
     <img width="100%" height="100%" src="assets/image/coronahome.jpg">
    </div>
  </div>
</div>
